In [201]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [202]:
# Load the Excel file into a DataFrame
file_path = r'C:\Users\north\10-2024 Exploring Chocolate Bar Quality' 
df_cacao = pd.read_excel(os.path.join(file_path, '02 Data', 'Original Data', 'flavors_of_cacao.xlsx'))

In [203]:
# Display summary statistics for initial insights
df_cacao.describe()

               REF  Review Date       Rating
count  1791.000000  1791.000000  1791.000000
mean   1035.787828  2012.325516     3.186628
std     552.952598     2.926972     0.477310
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     3.000000
50%    1069.000000  2013.000000     3.250000
75%    1504.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

In [204]:
# View the first few rows
df_cacao.head(10)

,Company / (Maker-if known),Specific Bean Origin / or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876.0,2016.0,0.63,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676.0,2015.0,0.7,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676.0,2015.0,0.7,France,3.00,NaN,Togo
3,A. Morin,Akata,1680.0,2015.0,0.7,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704.0,2015.0,0.7,France,3.50,NaN,Peru
5,A. Morin,Carenero,1315.0,2014.0,0.7,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315.0,2014.0,0.7,France,3.50,NaN,Cuba
7,A. Morin,Sur del Lago,1315.0,2014.0,0.7,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319.0,2014.0,0.7,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319.0,2014.0,0.7,France,4.00,NaN,Peru

In [205]:
# Rename columns
df_cacao = df_cacao.rename(columns={
    'Company / (Maker-if known)': 'Company',
    'Specific Bean Origin / or Bar Name': 'Bean Origin',
    'REF': 'Reference'
})

In [206]:
# Check for missing values
missing_values = df_cacao.isnull().sum()
print(missing_values)

Company                0
Bean Origin            0
Reference              4
Review Date            4
Cocoa Percent          4
Company Location       4
Rating                 4
Bean Type            889
Broad Bean Origin     78
dtype: int64

In [207]:
# Strip whitespace from column names
df_cacao.columns = df_cacao.columns.str.strip()

# Remove rows where there are missing values in these key columns
df_cacao.dropna(subset=['Reference', 'Review Date', 'Cocoa Percent', 'Company Location', 'Rating'], inplace=True)

# Fill missing values in 'Bean Type' and 'Broad Bean Origin' with 'Unknown'
df_cacao['Bean Type'].fillna('Unknown', inplace=True)
df_cacao['Broad Bean Origin'].fillna('Unknown', inplace=True)

# Check for remaining missing values to ensure the operation was successful
missing_values_after_cleaning = df_cacao.isnull().sum()
print(missing_values_after_cleaning)

# Display the first few rows of the cleaned dataset
print(df_cacao.head(10))

Company              0
Bean Origin          0
Reference            0
Review Date          0
Cocoa Percent        0
Company Location     0
Rating               0
Bean Type            0
Broad Bean Origin    0
dtype: int64
    Company     Bean Origin  Reference  Review Date Cocoa Percent  \
0  A. Morin     Agua Grande     1876.0       2016.0          0.63
1  A. Morin           Kpime     1676.0       2015.0           0.7
2  A. Morin          Atsane     1676.0       2015.0           0.7
3  A. Morin           Akata     1680.0       2015.0           0.7
4  A. Morin          Quilla     1704.0       2015.0           0.7
5  A. Morin        Carenero     1315.0       2014.0           0.7
6  A. Morin            Cuba     1315.0       2014.0           0.7
7  A. Morin    Sur del Lago     1315.0       2014.0           0.7
8  A. Morin  Puerto Cabello     1319.0       2014.0           0.7
9  A. Morin         Pablino     1319.0       2014.0           0.7

  Company Location  Rating Bean Type Broad Bean Origin
0           France    3.75   Unknown          Sao Tome
1           France    2.75   Unknown              Togo
2           France    3.00   Unknown              Togo
3           France    3.50   Unknown              Togo
4           France    3.50   Unknown              Peru
5           France    2.75   Criollo         Venezuela
6           France    3.50   Unknown              Cuba
7           France    3.50   Criollo         Venezuela
8           France    3.75   Criollo         Venezuela
9           France    4.00   Unknown              Peru

C:\Users\north\AppData\Local\Temp\ipykernel_11976\3305345373.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cacao['Bean Type'].fillna('Unknown', inplace=True)
C:\Users\north\AppData\Local\Temp\ipykernel_11976\3305345373.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cacao['Broad Bean Origin'].fillna('Unknown', inplace=True)

In [216]:
# Check the data types
print(df_cacao.dtypes)

Company               object
Bean Origin           object
Reference            float64
Review Date          float64
Cocoa Percent         object
Company Location      object
Rating               float64
Bean Type             object
Broad Bean Origin     object
dtype: object

In [218]:
# Display unique values in 'Cocoa Percent' to identify any formatting issues
print(df_cacao['Cocoa Percent'].unique())

[0.63 0.7 0.6 0.8 0.88 0.72 0.55 0.75 0.65 0.85 0.73 0.64 0.66 0.68 0.5 1
 0.77 0.9 0.71 0.83 0.78 0.74 0.76 0.86 0.82 0.69 0.91 0.42 0.61 '73.5%'
 0.62 0.67 0.58 '60.5%' 0.79 0.81 0.57 '72.5%' 0.56 0.46 0.89 0.99 0.84
 0.53 0.87]

In [220]:
# Remove '%' symbols and strip extra spaces
df_cacao['Cocoa Percent'] = df_cacao['Cocoa Percent'].astype(str).str.replace('%', '', regex=False).str.strip()

# Convert to float
df_cacao['Cocoa Percent'] = pd.to_numeric(df_cacao['Cocoa Percent'], errors='coerce')

# Display the unique values after conversion to verify
print(df_cacao['Cocoa Percent'].unique())

[ 0.63  0.7   0.6   0.8   0.88  0.72  0.55  0.75  0.65  0.85  0.73  0.64
  0.66  0.68  0.5   1.    0.77  0.9   0.71  0.83  0.78  0.74  0.76  0.86
  0.82  0.69  0.91  0.42  0.61 73.5   0.62  0.67  0.58 60.5   0.79  0.81
  0.57 72.5   0.56  0.46  0.89  0.99  0.84  0.53  0.87]

In [222]:
# Check for any remaining missing values in 'Cocoa Percent'
missing_values_cocoa_percent = df_cacao['Cocoa Percent'].isnull().sum()
print(f"Missing values in 'Cocoa Percent' after conversion: {missing_values_cocoa_percent}")

Missing values in 'Cocoa Percent' after conversion: 0

In [234]:
#  Converting 'Review Date'from float64 to int
df_cacao['Review Date'] = df_cacao['Review Date'].astype(int)

In [236]:
# Check the data types
print(df_cacao.dtypes)

Company               object
Bean Origin           object
Reference            float64
Review Date            int32
Cocoa Percent        float64
Company Location      object
Rating               float64
Bean Type             object
Broad Bean Origin     object
dtype: object

In [238]:
# Check for duplicate rows across all columns
duplicates_all = df_cacao[df_cacao.duplicated()]

# Display the duplicate rows
print(duplicates_all)

# Count the number of duplicate rows
num_duplicates_all = duplicates_all.shape[0]
print(f"Number of duplicate rows (across all columns): {num_duplicates_all}")

Empty DataFrame
Columns: [Company, Bean Origin, Reference, Review Date, Cocoa Percent, Company Location, Rating, Bean Type, Broad Bean Origin]
Index: []
Number of duplicate rows (across all columns): 0

In [240]:
# Check for out-of-range values in 'Cocoa Percent'
out_of_range_cocoa = df_cacao[(df_cacao['Cocoa Percent'] < 0) | (df_cacao['Cocoa Percent'] > 100)]
print(f"Out-of-range 'Cocoa Percent' values: {out_of_range_cocoa}")

Out-of-range 'Cocoa Percent' values: Empty DataFrame
Columns: [Company, Bean Origin, Reference, Review Date, Cocoa Percent, Company Location, Rating, Bean Type, Broad Bean Origin]
Index: []

In [242]:
# Display summary statistics
df_cacao.describe()

         Reference  Review Date  Cocoa Percent       Rating
count  1791.000000  1791.000000    1791.000000  1791.000000
mean   1035.787828  2012.325516       0.991854     3.186628
std     552.952598     2.926972       4.399832     0.477310
min       5.000000  2006.000000       0.420000     1.000000
25%     576.000000  2010.000000       0.700000     3.000000
50%    1069.000000  2013.000000       0.700000     3.250000
75%    1504.000000  2015.000000       0.750000     3.500000
max    1952.000000  2017.000000      73.500000     5.000000

In [244]:
# Display summary statistics excluding 'Review Date'
df_cacao[['Reference', 'Cocoa Percent', 'Rating']].describe()

         Reference  Cocoa Percent       Rating
count  1791.000000    1791.000000  1791.000000
mean   1035.787828       0.991854     3.186628
std     552.952598       4.399832     0.477310
min       5.000000       0.420000     1.000000
25%     576.000000       0.700000     3.000000
50%    1069.000000       0.700000     3.250000
75%    1504.000000       0.750000     3.500000
max    1952.000000      73.500000     5.000000

In [250]:
# Save the DataFrame to a CSV file
df_cacao.to_csv(r'C:\Users\north\10-2024 Exploring Chocolate Bar Quality\02 Data\Prepared Data\cleaned_flavors_of_cacao.csv', index=False)